.intro_wrap {
    position: relative;
    text-align: center;
  }
  .intro_section {
    position: relative;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }