.leftcolumn {   
    float: left;
    width: 45%;
    padding-left: 10px;
  }
  
  /* Right column */
.rightcolumn {
    float: right;
    width: 40%;
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 200px;
  }
  .card {
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .lehends {
    padding: 20px;
    margin-top: 20px;
    align-content: center;
    >img{
      margin-left: 30%;
      align-content: center;
      width: 300px;
      height: 300px;
    }
  }
  