.leftcolumn {   
    float: left;
    width: 49%;
    padding-left: 10px;
  }
  
  /* Right column */
.rightcolumn {
    float: right;
    width: 49%;
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  